<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>북마크 게시물 보기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>내가 쓴 게시물</h2>

    <!-- 에러 메시지 표시 부분 -->
<!--    <div th:if="${errorMessage != null}">-->
<!--        <p class="alert alert-danger" th:text="${errorMessage}"></p>-->
<!--    </div>-->

    <!-- 북마크 게시물 정보 표시 부분 -->
    <div th:if="${board != null}">
        <div class="card">
            <div class="card-header">
                게시물 상세 정보
            </div>
            <div class="card-body">

                <h5 class="card-title">작성자: <span th:text="${board.userLoginId}"></span></h5>
                <h6 class="card-subtitle mb-2 text-muted">제목: <span th:text="${board.title}"></span></h6>
                <p class="card-text">내용: <span th:text="${board.content}"></span></p>
                <p class="card-text">구매 링크:
                    <a th:href="${board.purchaseLink}" target="_blank" th:text="${board.purchaseLink}"></a>
                </p>
                <p class="card-text">등록 날짜: <span th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            </div>
        </div>
    </div>

    <!-- 뒤로 가기 버튼 -->
    <div class="mt-3">
        <a th:href="@{/mypage}" class="btn btn-secondary">마이페이지</a>
        <a th:href="@{/myBoardList/{userId}(userId=${board.userId})}" class="btn btn-primary">뒤로 가기</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
