<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" lang="ko">

<div layout:fragment="content">
    <h1 class="mt-4">My Page</h1>

    <div class="accordion" id="myPageAccordion">
        <!-- 회원정보 섹션 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingProfile">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">
                    회원정보
                </button>
            </h2>
            <div id="collapseProfile" class="accordion-collapse collapse show" aria-labelledby="headingProfile"
                 data-bs-parent="#myPageAccordion">
                <div class="accordion-body">
                    <a th:href="@{/profile/{userId}(userId=${userId})}">프로필 조회</a><br>
                    <a th:href="@{/profile/{userId}/updateMyProfile(userId=${userId})}">프로필 수정</a><br>
                    <form action="/delete" method="post" onsubmit="return confirm('탈퇴하시겠습니까?');">
                        <input type="hidden" name="userId" th:value="${userId}" />
                        <button type="submit" class="btn btn-danger">탈퇴</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- 내 게시물 섹션 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPosts">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePosts">
                    내 게시물
                </button>
            </h2>
            <div id="collapsePosts" class="accordion-collapse collapse" aria-labelledby="headingPosts"
                 data-bs-parent="#myPageAccordion">
                <div class="accordion-body">
                    <a th:href="@{/myBoardList/{userId}(userId=${userId})}">게시물 조회</a><br>
                </div>
            </div>
        </div>

        <!-- 내 댓글 섹션 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingComments">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseComments" aria-expanded="false"
                        aria-controls="collapseComments">
                    내 댓글
                </button>
            </h2>
            <div id="collapseComments" class="accordion-collapse collapse" aria-labelledby="headingComments"
                 data-bs-parent="#myPageAccordion">
                <div class="accordion-body">
                    <a th:href="@{/myReplyList/{userId}(userId=${userId})}">댓글 조회</a>
                </div>
            </div>
        </div>

        <!-- 내 북마크 섹션 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingBookmarks">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseBookmarks" aria-expanded="false"
                        aria-controls="collapseBookmarks">
                    내 북마크
                </button>
            </h2>
            <div id="collapseBookmarks" class="accordion-collapse collapse" aria-labelledby="headingBookmarks"
                 data-bs-parent="#myPageAccordion">
                <div class="accordion-body">
                    <a th:href="@{/myBookmarkList/{userId}(userId=${userId})}">북마크 조회</a><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:decorate="script">
    <script th:inline="javascript">

    </script>
</div>




<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xmlns:th="http://www.thymeleaf.org"-->
<!--      layout:decorate="~{layout/basic.html}">-->

<!--<body>-->
<!--    <div layout:decorate="content">-->
<!--        &lt;!&ndash; Page content with Accordion &ndash;&gt;-->
<!--        <div class="container card-container shadow-sm">-->
<!--            <h1 class="mt-4">My Page</h1>-->

<!--            <div class="accordion" id="myPageAccordion">-->
<!--                &lt;!&ndash; 회원정보 섹션 &ndash;&gt;-->
<!--                <div class="accordion-item">-->
<!--                    <h2 class="accordion-header" id="headingProfile">-->
<!--                        <button class="accordion-button" type="button" data-bs-toggle="collapse"-->
<!--                                data-bs-target="#collapseProfile" aria-expanded="true" aria-controls="collapseProfile">-->
<!--                            회원정보-->
<!--                        </button>-->
<!--                    </h2>-->
<!--                    <div id="collapseProfile" class="accordion-collapse collapse show" aria-labelledby="headingProfile"-->
<!--                         data-bs-parent="#myPageAccordion">-->
<!--                        <div class="accordion-body">-->
<!--                            <a th:href="@{/profile/{userId}(userId=${userId})}">프로필 조회</a><br>-->
<!--                            <a th:href="@{/profile/{userId}/updateMyProfile(userId=${userId})}">프로필 수정</a><br>-->
<!--                            <form action="/delete" method="post" onsubmit="return confirm('탈퇴하시겠습니까?');">-->
<!--                                <button type="submit" class="btn btn-danger">탈퇴</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; 내 게시물 섹션 &ndash;&gt;-->
<!--                <div class="accordion-item">-->
<!--                    <h2 class="accordion-header" id="headingPosts">-->
<!--                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                                data-bs-target="#collapsePosts" aria-expanded="false" aria-controls="collapsePosts">-->
<!--                            내 게시물-->
<!--                        </button>-->
<!--                    </h2>-->
<!--                    <div id="collapsePosts" class="accordion-collapse collapse" aria-labelledby="headingPosts"-->
<!--                         data-bs-parent="#myPageAccordion">-->
<!--                        <div class="accordion-body">-->
<!--                            <a th:href="@{/myBoardList}">게시물 조회</a><br>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; 내 댓글 섹션 &ndash;&gt;-->
<!--                <div class="accordion-item">-->
<!--                    <h2 class="accordion-header" id="headingComments">-->
<!--                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                                data-bs-target="#collapseComments" aria-expanded="false"-->
<!--                                aria-controls="collapseComments">-->
<!--                            내 댓글-->
<!--                        </button>-->
<!--                    </h2>-->
<!--                    <div id="collapseComments" class="accordion-collapse collapse" aria-labelledby="headingComments"-->
<!--                         data-bs-parent="#myPageAccordion">-->
<!--                        <div class="accordion-body">-->
<!--                            <a th:href="@{/myReplyList}">댓글 조회</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; 내 북마크 섹션 &ndash;&gt;-->
<!--                <div class="accordion-item">-->
<!--                    <h2 class="accordion-header" id="headingBookmarks">-->
<!--                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
<!--                                data-bs-target="#collapseBookmarks" aria-expanded="false"-->
<!--                                aria-controls="collapseBookmarks">-->
<!--                            내 북마크-->
<!--                        </button>-->
<!--                    </h2>-->
<!--                    <div id="collapseBookmarks" class="accordion-collapse collapse" aria-labelledby="headingBookmarks"-->
<!--                         data-bs-parent="#myPageAccordion">-->
<!--                        <div class="accordion-body">-->
<!--                            <a th:href="@{/myBookmarkList}">북마크 조회</a><br>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->